In [3]:
import re
import pandas as pd
import numpy as np
import geonamescache as gnc
from unidecode import unidecode

In [36]:
# Step 1 - Data Preparations
# 1 - Geonamescache data
def read_file(filename):
    headlines = []
    with open(filename, 'r') as file:
        for line in file.readlines():
            headlines.append(unidecode(line).rstrip("\n"))
            
    return headlines

# Initialize the data and make them global
gc = gnc.GeonamesCache()
countries = {unidecode(country["name"]): country["name"] for country in gc.get_countries().values()}
city_maps = {unidecode(city["name"]): city["name"] for city in gc.get_cities().values()}

country_regex = r"\b|\b".join(sorted(countries))
city_regex = r'\b|\b'.join(sorted(city_maps.keys()))

headlines = read_file("./data/headlines.txt")
headlines = [unidecode(line) for line in headlines]

In [47]:
def extract_city_and_country(headline):
    city_match = re.search(city_regex, headline)
    country_match = re.search(country_regex, headline)
    
    cities = None if not city_match else city_match.group(0)
    accent_cities = None if not city_match else city_maps[city_match.group(0)]
    countries = None if not country_match else country_match.group(0)
    
    return dict(headline=headline, country=countries, city=cities, accent_city=accent_cities)

headline_cities_and_countries = [
    extract_city_and_country(headline) for headline in headlines
]
print(headline_cities_and_countries[:10])

[{'headline': 'Zika Outbreak Hits Miami', 'country': None, 'city': 'Miami', 'accent_city': 'Miami'}, {'headline': 'Could Zika Reach New York City?', 'country': None, 'city': 'New York City', 'accent_city': 'New York City'}, {'headline': 'First Case of Zika in Miami Beach', 'country': None, 'city': 'Miami', 'accent_city': 'Miami'}, {'headline': 'Mystery Virus Spreads in Recife, Brazil', 'country': 'Brazil', 'city': 'Recife', 'accent_city': 'Recife'}, {'headline': 'Dallas man comes down with case of Zika', 'country': None, 'city': 'Dallas', 'accent_city': 'Dallas'}, {'headline': 'Trinidad confirms first Zika case', 'country': None, 'city': 'Trinidad', 'accent_city': 'Trinidad'}, {'headline': 'Zika Concerns are Spreading in Houston', 'country': None, 'city': 'Houston', 'accent_city': 'Houston'}, {'headline': 'Geneve Scientists Battle to Find Cure', 'country': None, 'city': 'Geneve', 'accent_city': 'Genève'}, {'headline': 'The CDC in Atlanta is Growing Worried', 'country': None, 'city': 'Atlanta', 'accent_city': 'Atlanta'}, {'headline': 'Zika Infested Monkeys in Sao Paulo', 'country': None, 'city': 'Sao Paulo', 'accent_city': 'São Paulo'}]

In [48]:
import json

def write_json(data):
    save_file = "./data/headline_cities_and_countries.json"
    with open(save_file, "w") as fout:
        fout.write(json.dumps(data))

write_json(headline_cities_and_countries)

In [49]:
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})

data.describe()

                                    headline country city accent_city
count                                    650      15  608         608
unique                                   648      10  558         558
top     Spanish Flu Spreading through Madrid  Brazil  San         San
freq                                       2       3   13          13